# Project exclude paths
*gradle*
/Topics/Custom exceptions/Square class/out/
/Topics/Custom exceptions/Square class/out/production/classes/
/Topics/Files/Are siblings/out/
/Topics/Files/Are siblings/out/production/classes/
/Topics/Input streams/Convert to bytes/out/
/Topics/Input streams/Convert to bytes/out/production/classes/
/Topics/Input streams/Reverse input text/out/
/Topics/Input streams/Reverse input text/out/production/classes/
/Topics/Throwing exceptions/Days of the week/out/
/Topics/Throwing exceptions/Days of the week/out/production/classes/
.idea*
/Topics*
/out*
/build*
/test*
